* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    /*background-color: black;*/
    /*height: 100%;*/
    margin: 0;
}
#product-overview {
    background-color: #ff1b68;
    width: 100%;
    height: 528px;
    padding: 10px;
    /*padding: 20px;*/
    /*border-style: solid;*/
    /*border-color: black;*/
    /*border-width: 5px;*/
    /*margin: 20px;*/
    /*width: 100%;*/
    /*!*height: 500px;*!*/
    /*border: 10px solid black;*/
    /*margin: 10px;*/
    /*box-sizing: border-box;*/
}
.section-title {
    color: #2ddf5c;
}
#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}
.main-header {
    width: 100%;
    background-color: coral;
    padding: 8px 16px;
}
.main-header > div {
    display: inline-block;
    vertical-align: middle;
}
.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}
.main-nav_items {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-nav_item {
    display: inline-block;
    margin: 0 16px;
}
.main-header_brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bolder;
    font-size: 22px;
}
.main-nav_item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0;
}
/*.main-nav_item a::after{*/
/*    content: "(Link)";*/
/*    color: red;*/
/*}*/
.main-nav_item a:hover,
.main-nav_item a:active {
    color: white;
    border-bottom: 5px solid white;
}
.main-nav_item-cta a{
    color: white;
    background-color: red;
    padding: 8px 16px;
    border-radius: 8px;
}
.main-nav_item-cta a:hover,
.main-nav_item-cta a:active {
    color: red;
    background: white;
    border: none;
}
/*.main-nav_item a:active{*/
/*    color: white;*/
/*}*/
/*p::first-letter {*/
/*    color: red;*/
/*    font-size: 20px;*/
/*}*/



/*adjacent sibling "h2 + p" means all p followed by h2*/

/*general sibling "h2 ~ p" means all p not followed by h2*/

/*child combinator "div > p" means first and last p under div*/

/*descendant combinator "div p" means all p under div*/

/*Either use margin top or margin bottom*/

/*separated properties*/
/*. {*/
/*    border-width: 2px;*/
/*    border-style: dashed;*/
/*    border-color: orange;*/
/*}*/

/*shorthand property*/
/*. {*/
/*    border: 2px dashed orange*/
/*}*/

/*separated properties*/
/*. {*/
/*    margin-top: 5px;*/
/*    margin-right: 5px;*/
/*    margin-bottom: 5px;*/
/*    margin-left: 5px;*/
/*}*/

/*shorthand properties*/
/*. {*/
/*    margin: 5px 5px 5px 5px;*/
/*}*/