* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    /*background-color: black;*/
    /*height: 100%;*/
    margin: 0;
}
#product-overview {
    background-color: #ff1b68;
    width: 100%;
    height: 528px;
    padding: 10px;
    /*padding: 20px;*/
    /*border-style: solid;*/
    /*border-color: black;*/
    /*border-width: 5px;*/
    /*margin: 20px;*/
    /*width: 100%;*/
    /*/*height: 500px;*/
    /*border: 10px solid black;*/
    /*margin: 10px;*/
    /*box-sizing: border-box;*/
}
.section-title {
    color: #2ddf5c;
    text-align: center;
    font-weight: bolder;
}
#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}
.plan {
    background: #d5ffdc;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}
.plan-highlighted {
    background: #19b84c;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.plan_feature {
    list-style: none;
    margin: 0;
    padding: 0;
}
.plan_feature li {
    margin: 8px 0;
}
.plan_title {
    color: #0e4f1f;
}
.plan_price {
    color: gray;
}
.plan-highlighted .plan_price {
    color: white;
}
.button {
    background: #0e4f1f;
    color: white;
    font: inherit;
    border: 2px solid #0e4f1f;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 2px 2px rgba(0,0,0,0.5);
    cursor: pointer;
}
.button:hover, .button:active {
    background: white;
    color: #0e4f1f;
}
.button:focus {
    outline: none;
}
.plan_list {
    width: 80%;
    margin: auto;
    text-align: center;
}
#key-features {
    background: #ff1b68;
    margin-top: 80px;
    padding: 16px;
}
#key-features .section-title {
    color: white;
    margin: 32px;
}
.key-feature_list  {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.key-feature {
    display: inline-block;
    width: 33%;
    vertical-align: top;
}
.key-feature_description {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
}
.key-feature_image {
    background: #ffcede;
    width: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    height: 129px;
    margin: auto;
}
.plan_annotation {
    background: white;
    color: #19b84c;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}
.main-header {
    width: 100%;
    background-color: coral;
    padding: 8px 16px;
}
.main-header > div {
    display: inline-block;
    vertical-align: middle;
}
.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}
.main-nav_items {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-nav_item {
    display: inline-block;
    margin: 0 16px;
}
.main-header_brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bolder;
    font-size: 22px;
}
.main-nav_item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0;
}
/*.main-nav_item a::after{*/
/*    content: "(Link)";*/
/*    color: red;*/
/*}*/
.main-nav_item a:hover,
.main-nav_item a:active {
    color: white;
    border-bottom: 5px solid white;
}
.main-nav_item-cta a{
    color: white;
    background-color: red;
    padding: 8px 16px;
    border-radius: 8px;
}
.main-nav_item-cta a:hover,
.main-nav_item-cta a:active {
    color: red;
    background: white;
    border: none;
}
.main-nav_item a:active{
    color: white;
}
p::first-letter {
    /*color: red;*/
    font-size: 20px;
}
.main-footer {
    background: black;
    padding: 32px;
    margin-top: 48px;
}
.main-footer_links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.main-footer_link {
    display: inline-block;
    margin: 0 16px;
}
.main-footer_link a {
    color: white;
    text-decoration: none;
}
.main-footer__link a:hover,
.main-footer_link a:active {
    color: #ccc;
}

/*adjacent sibling "h2 + p" means all p followed by h2*/

/*general sibling "h2 ~ p" means all p not followed by h2*/

/*child combinator "div > p" means first and last p under div*/

/*descendant combinator "div p" means all p under div*/

/*Either use margin top or margin bottom*/

/*separated properties*/
/*. {*/
/*    border-width: 2px;*/
/*    border-style: dashed;*/
/*    border-color: orange;*/
/*}*/

/*shorthand property*/
/*. {*/
/*    border: 2px dashed orange*/
/*}*/

/*separated properties*/
/*. {*/
/*    margin-top: 5px;*/
/*    margin-right: 5px;*/
/*    margin-bottom: 5px;*/
/*    margin-left: 5px;*/
/*}*/

/*shorthand properties*/
/*. {*/
/*    margin: 5px 5px 5px 5px;*/
/*}*/

/*body {*/
/*    font-family: sans-serif;*/
/*}*/
/*nav {*/
/*    margin-bottom: 16px;*/
/*    background: #fa923f;*/
/*    padding: 8px 0;*/
/*}*/
/*a {*/
/*    text-decoration: none;*/
/*    color: white;*/
/*    margin: 10px;*/
/*}*/
/*a.active {*/
/*    color: purple;*/
/*}*/
/*a:not(.active) {*/
/*    color: blue;*/
/*}*/
/*.main-section {*/
/*    height: 800px;*/
/*    border: 1px solid #ccc !important;*/
/*    padding: 16px;*/
/*}*/
/*.highlighted {*/
/*    border: 2px solid orangered;*/
/*}*/