.main-header {
    width: 100%;
    background-color: coral;
    padding: 8px 16px;
}
.main-header > div {
    display: inline-block;
    vertical-align: middle;
}
.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}
.main-nav_items {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-nav_item {
    display: inline-block;
    margin: 0 16px;
}
.main-header_brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bolder;
    font-size: 22px;
}
.main-nav_item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0;
}
/*.main-nav_item a::after{*/
/*    content: "(Link)";*/
/*    color: red;*/
/*}*/
.main-nav_item a:hover,
.main-nav_item a:active {
    color: white;
    border-bottom: 5px solid white;
}
.main-nav_item-cta a{
    color: white;
    background-color: red;
    padding: 8px 16px;
    border-radius: 8px;
}
.main-nav_item-cta a:hover,
.main-nav_item-cta a:active {
    color: red;
    background: white;
    border: none;
}
.main-nav_item a:active{
    color: white;
}
p::first-letter {
    /*color: red;*/
    font-size: 20px;
}
.main-footer {
    background: black;
    padding: 32px;
    margin-top: 48px;
}
.main-footer_links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.main-footer_link {
    display: inline-block;
    margin: 0 16px;
}
.main-footer_link a {
    color: white;
    text-decoration: none;
}
.main-footer__link a:hover,
.main-footer_link a:active {
    color: #ccc;
}
.button {
    background: #0e4f1f;
    color: white;
    font: inherit;
    border: 2px solid #0e4f1f;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 2px 2px rgba(0,0,0,0.5);
    cursor: pointer;
}
.button:hover, .button:active {
    background: white;
    color: #0e4f1f;
}
.button:focus {
    outline: none;
}